@import url('reset.css');

body {
    font-family: 'Vazir';
	background-color: var(--white)
}

.nightmode {
	background-color: var(--bg-dark)
}

.container {
    width: 75%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

.container {
	padding-left: 45px;
    padding-right: 45px
}

.row {
    display: flex
}

.align {
    align-items: center;
    justify-content: center
}

.headline {
	font-size: 18px;
	font-weight: bold
}

.paragraph {
	font-size: 16px;
	font-weight: 300;
	line-height: 2rem
}

.header {
    height: 70px;
	padding: 16px 0
}

.logo {
	width: 10%
}

.logo {
    height: 50px
}

.brand {
	max-width: 100%;
	max-height: 50px
}

.navbar {
	width: 85%;
	text-align: left
}

.nav-navbar {
	padding-left: 16px
}

.nav-item {
	cursor: pointer;
	position: relative;
    display: inline-flex
}

.nav-link {
    font-size: 16px;
    font-weight: 200;
	padding: 12px 24px;
	font-family: 'Dotis';
    color: var(--text-color)
}

.nightmode .nav-link {
	color: var(--text-color-dark)
}

.gift::after {
	margin-left: 9px;	
	transition: .3s all ease-in-out
}

.gift::after {
	content: '\f107';
	font-family: 'FontAwesome'
}

.dropdown {
	top: 40px;
	left: 20px;
	width: 200px;
	display: none;
	position: absolute
}

.dropdown {
	padding: 24px;
	border-radius: 12px;
	background-color: var(--white);
	border: 2px var(--border-gray) solid
}

.nightmode .dropdown {
	border-color: var(--border-dark);
	background-color: var(--border-dark);
}

.nav-item:hover .dropdown {
	z-index: 99;
	display: block
}

.crypto {
	padding-bottom: 3px
}

.barcode {
	width: 200px;
	height: 200px;
	border-radius: 12px;
	background-color: var(--white)
}

.bitcoin-qr {
	height: auto;
	max-width: 100%
}

.pay {
	padding: 12px
}

.code {
	display: block;
	padding: 14px 0;
	overflow: hidden;
	position: relative
}

.code {
	font-size: 14px;
	font-weight: 300;
	color: var(--text-color)
}

.nightmode .code {
	color: var(--text-color-dark)
}

.wallet {
	height: 40px;
	overflow: hidden;
	border-radius: 36px;
	background-color: var(--white);
	border: 1px var(--border-gray) solid
}

.nightmode .wallet {
	border-color: var(--border-dark);
	background-color: var(--bg-dark)
}

.wallet {
	position: relative;
	padding-right: 12px;
	letter-spacing: 2px;
	white-space: nowrap;
	text-transform: uppercase
}

.bitcoin {
	width: 40px;
	height: 40px;
	position: relative;
	background-color: var(--yellow)
}

.bitcoin {
	float: left;
	margin-right: 16px
}

.bitcoin::before {
	top: 12px;
	right: 11px;
	position: absolute
}

.bitcoin::before {
	content: '\f15a';
	font-family: 'FontAwesome'
}

.channel {
	height: 30px;
	padding: 3px;
	border-radius: 36px;
	background-color: var(--telegram);
	border: 1px var(--telegram) solid
}

.nightmode .channel {
	border-color: var(--telegram)
}

.channel {
	overflow: hidden
}

.icon {
	width: 30px;
	height: 30px
}

.icon {
	float: right;
	font-size: 21px;
	margin-left: 6px;
	position: relative
}

.icon::before {
	top: 5px;
	right: 5px;
	position: absolute;
	color: var(--white)
}

.icon::before {
	content: '\f2c6';
	font-family: 'FontAwesome'
}

.telegram {
	display: block;
	padding: 8px 0
}

.telegram {
	font-size: 14px;
	font-weight: 300;
	text-align: right;
	color: var(--white);
}

.copy {
	direction: rtl;
	padding: 12px 0 0
}

.copy .paragraph {
	font-size: 13px;
	line-height: 1.9rem;
	color: var(--text-color)
}

.nightmode .copy .paragraph {
	color: var(--text-color-dark)
}

.darkmode {
	width: 5%
}

.dark {
	width: 40px;
	height: 40px;
	border-radius: 36px;
	background-color: var(--bg-dark)
}

.nightmode .dark {
	background-color: var(--border-dark)
}

.dark {
	float: left;
	cursor: pointer;
	position: relative;
	transition: .6s all ease-in-out
}

.dark {
	font-size: 21px;
	color: var(--white)
}

.dark:hover {
	transform: rotateY(360deg)
}

.dark::before {
	top: 10px;
	left: 12px;
	position: absolute
}

.dark::before {
	content: '\f186';
	font-family: 'FontAwesome'
}

.season {
	top: -10%;
	right: -5%;
	z-index: -1;
    position: absolute
}

.season {
	width: calc(100px * 8);
    height: calc(100px * 9)
}

.season {
	background-size: cover;
	background-color: var(--gray);
	border-radius: 100% 30% 40% 60%;
	background-image: url('../images/spring.jpg')
}

.time {
	direction: ltr
}

.clock {
	padding-top: 10px;
	padding-bottom: 20px
}

#analog {
	width: 340px;
	height: 340px;
	overflow: hidden;
	position: relative
}

#analog {
	display: block;
	border-radius: 100%;
	border: 15px var(--black) solid
}

.nightmode  #analog {
	border-width: 5px;
	border-color: var(--yellow);
	background-color: var(--border-dark)
}

.minutes {
	top: 0;
	left: 49.5%;
	position: absolute;
	transform-origin: 50% 170px
}

.minutes {
	width: 2px;
	height: 10px;
	background-color: var(--gray)
}

.nightmode .minutes {
	width: .6px;
	opacity: 20%;
	background-color: var(--white);
}

.fiveminutes {
	top: 0;
	left: 49.5%;
	position: absolute;
	transform-origin: 50% 170px
}

.fiveminutes {
	z-index: 1;
	width: 1px;
	height: 15px;	
	background-color: var(--black)
}

.nightmode .fiveminutes {
	width: .9px;
	opacity: 30%;
	background-color: var(--white)
}

.hour {
	top: 70px;
	left: 49%;
	position: absolute;
	transform-origin: 49% 100px
}

.hour {
	width: 4px;
	height: 100px;
	border-radius: 36px;
	background-color: var(--black)
}

.nightmode .hour {
	background-color: var(--white)
}

.min {
	top: 40px;
	left: 48.5%;
	position: absolute;
	transform-origin: 48.5% 131px
}

.min {
	width: 4px;
	height: 140px;
	border-radius: 36px;
	background-color: var(--black)
}

.nightmode .min {
	background-color: var(--white)
}

.sec {
	top: 40px;
	left: 49%;
	position: absolute;
	transform-origin: 49% 131px
}

.sec {
	width: 4px;
	height: 160px;
	border-radius: 30px;
	background-color: var(--red)
}

.centerpoint {
	top: 158px;
	left: 158px;
	position: absolute
}

.centerpoint {
	width: 24px;
	height: 24px;
	border-radius: 36px;
	background-color: var(--black)
}

.nightmode .centerpoint {
	background-color: var(--white)
}

.numbers {
	position: absolute
}

.numbers {
	font-size: 14px
}

.nightmode .numbers {
	color: var(--white)
}

.one {
	top: 45px;
	left: 235px
}

.two {
	top: 90px;
	left: 285px
}

.three {
	top: 165px;
	left: 305px
}

.four {
	top: 235px;
	left: 285px
}

.five {
	top: 283px;
	left: 230px
}

.six {
	top: 300px;
	left: 165px
}

.seven {
	top: 285px;
	left: 100px
}

.eight {
	top: 238px;
	left: 48px
}

.nine {
	top: 165px;
	left: 30px
}

.ten {
	top: 95px;
	left: 45px
}

.eleven {
	top: 45px;
	left: 90px
}

.twelve {
	top: 25px;
	left: 160px
}

.todays {
	direction: rtl;
	margin-top: 20px;
	display: inline-flex;
	border: 2px var(--border-gray) solid
}

.todays {
	overflow: hidden;
	border-radius: 6px;
	margin-left: -30px;
	background-color: var(--white)
}


.nightmode .todays {
	border-width: 1px;
	color: var(--text-color-dark);
	border-color: var(--border-dark);
	background-color: var(--border-dark)
}

.item-today {
	padding: calc(3px * 6) 24px
}

.active {
	color: var(--text-color);
	background-color: var(--border-gray)
}

.nightmode .active {
	color: var(--text-color-dark);
	background-color: var(--bg-dark)
}

.iranian {
	font-size: 16px;
	font-weight: 300
}

.georagian {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	font-family: 'Dosis'
}

.celander {
	padding: calc(60px * 2) 0
}

.locale-fa {
	width: 50%;
	max-height: 400px
}

.holiday {
	width: 50%;
	max-height: 460px
}

.nightmode .datepicker-plot-area {
	color: var(--text-color-dark) !important;
	background-color: var(--bg-dark) !important
}

.nightmode .datepicker-navigator .pwt-btn-switch {
	color: var(--text-color-dark) !important;
	background-color: var(--bg-dark) !important
}

.nightmode .datepicker-navigator .pwt-btn-next,
.nightmode .datepicker-navigator .pwt-btn-prev {
	background-color: var(--yellow) !important
}

.nightmode .datepicker-plot-area .datepicker-day-view .table-days td span,
.nightmode .datepicker-plot-area .datepicker-year-view .year-item,
.nightmode .datepicker-plot-area .datepicker-month-view .month-item {
	background-color: var(--dark) !important
}

.nightmode .datepicker-plot-area .datepicker-day-view .table-days td {
	color: var(--white) !important;
	background-color: var(--bg-dark) !important
}

.nightmode .datepicker-plot-area .datepicker-day-view .table-days td.today span {
	color: var(--text-color) !important;
	background-color: var(--yellow) !important
}

.nightmode .datepicker-plot-area .datepicker-day-view .table-days td.selected span,
.nightmode .datepicker-plot-area .datepicker-year-view .year-item.selected,
.nightmode .datepicker-plot-area .datepicker-month-view .month-item.selected {
	color: var(--text-color-dark) !important;
	background-color: var(--red) !important
}

.other-month:nth-child(2),
.header-row-cell:nth-child(2) {
    color: var(--red) !important
}

.nightmode .other-month:nth-child(1),
.nightmode .header-row-cell:nth-child(1),
.nightmode .other-month:nth-child(3),
.nightmode .header-row-cell:nth-child(3),
.nightmode .other-month:nth-child(4),
.nightmode .header-row-cell:nth-child(4),
.nightmode .other-month:nth-child(5),
.nightmode .header-row-cell:nth-child(5),
.nightmode .other-month:nth-child(6),
.nightmode .header-row-cell:nth-child(6),
.nightmode .other-month:nth-child(7),
.nightmode .header-row-cell:nth-child(7) {
	color: var(--white) !important
}


.nightmode .other-month:nth-child(2),
.nightmode .header-row-cell:nth-child(2) {
    color: var(--yellow) !important
}

.table-days td:nth-child(2) span {
	color: var(--red) !important
}

.nightmode .table-days td:nth-child(1) span,
.nightmode .table-days td:nth-child(3) span,
.nightmode .table-days td:nth-child(4) span,
.nightmode .table-days td:nth-child(5) span,
.nightmode .table-days td:nth-child(6) span,
.nightmode .table-days td:nth-child(7) span {
    color: var(--gray) !important
}

.nightmode .table-days td:nth-child(2) span {
    color: var(--yellow) !important
}

.table-days td.selected:nth-child(2) span {
	color: var(--white) !important
}

.nightmode .table-days td.selected:nth-child(2) span {
    color: var(--red) !important
}

/* ScrollBar */

.holiday {
	overflow-x: hidden;
	overflow-y: scroll;
	white-space: nowrap;
	scrollbar-width: thin;
    scrollbar-color: var(--border-gray) transparent
}

.nightmode .holiday {
	scrollbar-color: var(---dark)
}

/* End ScrollBar */

#holiday {
	padding-right: 45px
}

.holiday_header {
	font-size: 16px;
	font-weight: 300;
	display: inline-block
}

.holiday_header {
	padding: 15px;
	margin: 10px 0
}

.holiday_header {
	border-radius: 6px;
	background-color: var(--white);
	border: 1px var(--border-gray) solid
}

.nightmode .holiday_header {
	color: var(--text-color-dark);
	border-color: var(--border-dark);
	background-color: var(--bg-dark)
}

.holiday_text {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.9rem
}

.nightmode .holiday_text {
	color: var(--text-color-dark)
}

.footer {
	padding-bottom: 45px
}

.books {
	width: 70%;
	min-height: 185px
}

.bookreader {
	border-left: 1px var(--border-gray) solid
}

.nightmode .bookreader {
	border-color: var(--border-dark)
}

.thumbnail {
	max-width: 200px;
	min-height: 185px;
	border-radius: 12px
}

.reader {
	padding-left: 30px;
	margin-right: 30px
}

.headline {
	padding-top: 10px;
	padding-bottom: 15px;
	color: var(--text-color)
}

.nightmode .headline {
	color: var(--text-color-dark)
}

.paragraph {
	opacity: 65%;
	text-align: justify;
	color: var(--text-color)
}

.nightmode .paragraph {
	color: var(--text-color-dark)
}

.boxs {
	width: 30%;
}

.box {
	margin-right: 30px;
	margin-bottom: 20px
}

.click {
	text-align: center;
	margin-bottom: 10px
}

.download {
	display: block;
	font-size: 16px;
	font-weight: 300;
	padding: calc(2px * 8)
}

.download {
	border-radius: 6px;
	color: var(--text-color);
	transition: .2s all ease-in-out;
	border: 2px var(--border-gray) solid
}

.nightmode .download {
	color: var(--text-color-dark);
	border-color: var(--border-dark);
}

.download:hover {
	color: var(--white)
}

.click:hover:nth-child(1) .download {
	border-color: var(--green);
	background-color: var(--green)
}

.click:hover:nth-child(2) .download {
	color: var(--text-color)
}

.click:hover:nth-child(2) .download {
	border-color: var(--gray);
	background-color: var(--white)
}

.click:hover:nth-child(3) .download{
	border-color: var(--red);
	background-color: var(--red)
}

.copyright {
	margin-right: 30px
}

.copyright
.paragraph {
	font-size: 14px
}

.github {
	font-weight: 500;
	color: var(--text-color)
}

.nightmode .github {
	color: var(--text-color-dark)
}

.github:hover {
	color: var(--blue)
}

.website {
	font-weight: 500;
	color: var(--text-color);
	text-transform: capitalize
}

.nightmode .website {
	color: var(--text-color-dark)
}

@media only screen and (max-width: 980px) {
	.container {
		width: 100%;
		padding-left: 0;
		padding-right: 0
	}

	.row {
		display: block
	}

	.header {
		padding: 0 25px
	}

	.header
	.row {
		display: flex
	}

	.logo {
		margin: 10px
	}

	.season {
		width: calc(100px * 3);
		height: calc(100px * 4)
	}

	.clock {
		margin-top: 16px;
		margin-left: 14px
	}
	
	#analog {
		width: 120px;
		height: 120px;
		border-width: 3px
	}
	
	.minutes {
		top: 0;
		left: 49.5%;
		position: absolute
	}
	
	.minutes {
		width: 2px;
		height: 4px;
		opacity: 20%;
		transform-origin: 49.5% 60px
	}
	
	.fiveminutes {
		top: 0;
		left: 50%;
		opacity: 30%;
		position: absolute
	}
	
	.fiveminutes {
		z-index: 1;
		width: 2px;
		height: 6px;	
		transform-origin: 50% 60px
	}

	.hour {
		top: 40px;
		left: 49.9%;
		position: absolute
	}
	
	.hour {
		width: 2px;
		height: 25px;
		transform-origin: 49.9% 20px
	}
	
	.min {
		top: 21px;
		left: 49.5%
	}
	
	.min {
		width: 2px;
		height: 40px;
		border-radius: 10px;
		transform-origin: 49.5% 40px
	}
	
	.sec {
		top: 21px;
		left: 49.5%
	}
	
	.sec {
		width: 2px;
		height: 40px;
		transform-origin: 49.5% 40px
	}
	
	.centerpoint {
		top: 55px;
		left: 55px;
		position: absolute
	}
	
	.centerpoint {
		width: 12px;
		height: 12px
	}
	
	.numbers {
		position: absolute
	}
	
	.numbers {
		font-size: 9px
	}
	
	.one {
		display: none
	}
	
	.two {
		display: none
	}
	
	.three {
		top: 57px;
		left: 102px;
	}
	
	.four {
		display: none
	}
	
	.five {
		display: none
	}
	
	.six {
		top: 100px;
		left: 58px;
	}
	
	.seven {
		display: none
	}
	
	.eight {
		display: none
	}
	
	.nine {
		top: 57px;
		left: 12px
	}
	
	.ten {
		display: none
	}
	
	.eleven {
		display: none
	}

	.twelve {
		top: 12px;
		left: 55px
	}

	.todays {
		display: block;
		margin-left: 0;
		margin: 30px 20px;
		text-align: center
	}
	
	.celander {
		direction: rtl;
		padding: 0 20px
	}

	.locale-fa {
		width: 100%
	}

	.holiday {
		width: 100%
	}

	.holiday {
		margin: 30px 0;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px var(--border-gray) solid
	}

	.nightmode .holiday {
		border-color: var(--border-dark)
	}

	#holiday {
		padding: 20px 0;
		padding-right: 0
	}

	.books {
		width: 100%
	}

	.bookreader {
		margin: 0 24px;
		border-left: none
	}

	.thumbnail {
		display: block;
		max-width: 60%;
		min-height: 60%;
		margin: 30px auto
	}
	
	.book_img {
		border-radius: 12px
	}
	
	.boxs {
		width: 100%
	}

	.box {
		margin: 30px
	}

	.copyright {
		margin: 0 24px
	}
}